body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background:white;
}

/* for the start page */
button {
    background: purple;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 32px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.8em;
}

.header {
    text-align: center;
}
.header {
    font-size: 4em;
    padding: 40px;
    background: white;
    color: black;
}


.instructions {
    font-size: 1.5em;
    padding: 40px;
    text-align: center;
}

.hide{
    display:none;
}

